header{
  background-color: #4990E2;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

header img{
  height: 25px;
  cursor: pointer;
}

header .user a{
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

header .user a i{
  margin: 5px;
}